** Exercise 17:
 Merge two DataFrames:
sales.csv: Contains store_id, date, sales


weather.csv: Contains store_id, date, temperature


Join on store_id and date. Then analyze how temperature affects sales.**

In [19]:
import pandas as pd
sales_data = pd.DataFrame({
    'Date': pd.to_datetime(['2025-01-01', '2025-01-05', '2025-01-02', '2025-01-03']),
    'Store': ['A', 'B', 'A', 'C'],
    'Sales': [100, 150, 120, 80]
}).set_index(['Date' , 'Store'])

In [20]:
weather_data = pd.DataFrame({
    'Date': pd.to_datetime(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04']),
    'Store': ['A', 'A', 'C', 'B'],
    'Temperature': [10, 12, 8, 15],
    'Precipitation': [0.5, 0.0, 1.2, 0.0]
}).set_index(['Date' , 'Store'])

In [21]:
sales_data

                  Sales
Date       Store
2025-01-01 A        100
2025-01-05 B        150
2025-01-02 A        120
2025-01-03 C         80

In [22]:
weather_data

                  Temperature  Precipitation
Date       Store
2025-01-01 A               10            0.5
2025-01-02 A               12            0.0
2025-01-03 C                8            1.2
2025-01-04 B               15            0.0

In [43]:
join_df=weather_data.join(sales_data)

In [44]:
join_df

                  Temperature  Precipitation  Sales
Date       Store
2025-01-01 A               10            0.5  100.0
2025-01-02 A               12            0.0  120.0
2025-01-03 C                8            1.2   80.0
2025-01-04 B               15            0.0    NaN

In [55]:
new=join_df.sort_values(by='Temperature')

In [56]:
new

                  Temperature  Precipitation  Sales
Date       Store
2025-01-03 C                8            1.2   80.0
2025-01-01 A               10            0.5  100.0
2025-01-02 A               12            0.0  120.0
2025-01-04 B               15            0.0    NaN

In [58]:
new[['Temperature','Sales']].rolling(window=2 , min_periods=1 ).max()

                  Temperature  Sales
Date       Store
2025-01-03 C              8.0   80.0
2025-01-01 A             10.0  100.0
2025-01-02 A             12.0  120.0
2025-01-04 B             15.0  120.0

In [ ]:
weather_data = pd.DataFrame({
    'Date': pd.to_datetime(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04']),
    'Store': ['A', 'A', 'C', 'B'],
    'Temperature': [10, 12, 8, 15],
    'Precipitation': [0.5, 0.0, 1.2, 0.0]