In [3]:
import pandas as pd

In [71]:
data = {
    'Region': ['East', 'East', 'East', 'West', 'Central', 'Central'],
    'Store': ['Store A', 'Store C', 'Store C', 'Store D', 'Store E', 'Store F'],
    'Sales': [100, 200, 200, 250, '2022-12-04', 350]}

In [72]:
df=pd.DataFrame(data).set_index('Region')

In [73]:
df

           Store       Sales
Region
East     Store A         100
East     Store C         200
East     Store C         200
West     Store D         250
Central  Store E  2022-12-04
Central  Store F         350

In [74]:
df['Store'].unique()

array(['Store A', 'Store C', 'Store D', 'Store E', 'Store F'],
      dtype=object)

In [75]:
df.dtypes

Store    object
Sales    object
dtype: object

In [76]:
df["Store"].str.upper()

Region
East       STORE A
East       STORE C
East       STORE C
West       STORE D
Central    STORE E
Central    STORE F
Name: Store, dtype: object

In [77]:
df['Store'].str.split(' ' , expand=True)

             0  1
Region
East     Store  A
East     Store  C
East     Store  C
West     Store  D
Central  Store  E
Central  Store  F

In [78]:
df.duplicated()

Region
East       False
East       False
East        True
West       False
Central    False
Central    False
dtype: bool

In [79]:
df.drop_duplicates().reset_index()

    Region    Store       Sales
0     East  Store A         100
1     East  Store C         200
2     West  Store D         250
3  Central  Store E  2022-12-04
4  Central  Store F         350

In [80]:
df= pd.to_datetime(df['Sales'] , errors='coerce')

In [81]:
df

Region
East      1970-01-01 00:00:00.000000100
East      1970-01-01 00:00:00.000000200
East      1970-01-01 00:00:00.000000200
West      1970-01-01 00:00:00.000000250
Central   2022-12-04 00:00:00.000000000
Central   1970-01-01 00:00:00.000000350
Name: Sales, dtype: datetime64[ns]

In [54]:
df_ymd = pd.DataFrame({'year': [2023], 'month': [7], 'day': [23]}) 
date_from_ymd = pd.to_datetime(df_ymd) 
print(date_from_ymd)

0   2023-07-23
dtype: datetime64[ns]