In [33]:
import pandas as pd
sales_data = pd.DataFrame({
    'Date': pd.to_datetime(['2025-01-01', '2025-01-01', '2025-01-02', '2025-01-03']),
    'Store': ['A', 'B', 'A', 'C'],
    'Sales': [100, 150, 120, 80]
})

In [34]:
weather_data = pd.DataFrame({
    'Date': pd.to_datetime(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04']),
    'Store': ['A', 'A', 'C', 'B'],
    'Temperature': [10, 12, 8, 15],
    'Precipitation': [0.5, 0.0, 1.2, 0.0]
})

In [37]:
sales_data.dtypes

Date     datetime64[ns]
Store            object
Sales             int64
dtype: object

In [35]:
print("sales data is \n",sales_data)
print("weather data is\n ",weather_data)

sales data is
         Date Store  Sales
0 2025-01-01     A    100
1 2025-01-01     B    150
2 2025-01-02     A    120
3 2025-01-03     C     80
weather data is
          Date Store  Temperature  Precipitation
0 2025-01-01     A           10            0.5
1 2025-01-02     A           12            0.0
2 2025-01-03     C            8            1.2
3 2025-01-04     B           15            0.0

In [29]:
merge_df = weather_data.merge(sales_data , how ='inner' )

In [30]:
merge_df

        Date Store  Temperature  Precipitation  Sales
0 2025-01-01     A           10            0.5    100
1 2025-01-02     A           12            0.0    120
2 2025-01-03     C            8            1.2     80

In [44]:
merge_df2 = weather_data.merge(sales_data , how ='inner', on =['Date' , "Store" ])

In [45]:
merge_df2

        Date Store_x  Temperature  Precipitation Store_y  Sales
0 2025-01-01       A           10            0.5       A    100
1 2025-01-01       A           10            0.5       B    150
2 2025-01-02       A           12            0.0       A    120
3 2025-01-03       C            8            1.2       C     80