**MERGE**

In [2]:
import pandas as pd

In [20]:
df= pd.DataFrame({'subjects' :["maths" , "eng"] , "marks" :[3,4]})

In [21]:
df

  subjects  marks
0    maths      3
1      eng      4

In [22]:
df2= pd.DataFrame({'subjects' :["hindi"] , "marks" :[3]})

In [23]:
df2

  subjects  marks
0    hindi      3

In [28]:
c=df.merge(df2, how="outer" , left_index=True , right_index=True )

In [29]:
c

  subjects_x  marks_x subjects_y  marks_y
0      maths        3      hindi      3.0
1        eng        4        NaN      NaN

In [30]:
df_products = pd.DataFrame({'ProductID': [101, 102, 103], 'ProductName': ['Laptop', 'Mouse', 'Keyboard']})
df_sales = pd.DataFrame({'ProductID': [102, 103, 104], 'UnitsSold': [10, 15, 20]})
merged_df = pd.merge(df_products, df_sales, on='ProductID') # Default is how='inner'
print("\nMerge on 'ProductID':\n", merged_df)

Merge on 'ProductID':
    ProductID ProductName  UnitsSold
0        102       Mouse         10
1        103    Keyboard         15

In [70]:

import pandas as pd

# Left DataFrame: Customer information
df_customers = pd.DataFrame({
    'Customer_ID':[1,2,3],
    'Name': ['Alice', 'Bob', 'Charlie']
})

# Right DataFrame: Order information
df_orders = pd.DataFrame({
    'Cust_ID':[1,2,3],
    'OrderID': ['ORD001', 'ORD002', 'ORD003'],
    'Amount': [150.00, 200.00, 75.00]
})

# Merge using left_on and right_on
merged_df = pd.merge(df_customers, df_orders, left_on='Customer_ID', right_on='Cust_ID', how='inner')
print("Merge on single columns with different names:\n", merged_df)

Merge on single columns with different names:
    Customer_ID     Name  Cust_ID OrderID  Amount
0            1    Alice        1  ORD001   150.0
1            2      Bob        2  ORD002   200.0
2            3  Charlie        3  ORD003    75.0

**join**

In [32]:
import pandas as pd

df_customers = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie']}, index=['Cust1', 'Cust2', 'Cust3'])
df_orders = pd.DataFrame({'OrderID': ['OrdA', 'OrdB'], 'Amount': [100, 150]}, index=['Cust2', 'Cust4']) # Notice 'Cust4' is in df_orders but not df_customers

Default (Left) Join on Index:
           Name OrderID  Amount
Cust1    Alice     NaN     NaN
Cust2      Bob    OrdA   100.0
Cust3  Charlie     NaN     NaN

In [33]:
df_customers

          Name
Cust1    Alice
Cust2      Bob
Cust3  Charlie

In [34]:
df_orders

      OrderID  Amount
Cust2    OrdA     100
Cust4    OrdB     150

In [40]:
joined_df = df_customers.join(df_orders, how='inner' )
joined_df
#default left join

      Name OrderID  Amount
Cust2  Bob    OrdA     100

In [41]:
joined_df = df_customers.join(df_orders, how='outer' )
joined_df
#default left join

          Name OrderID  Amount
Cust1    Alice     NaN     NaN
Cust2      Bob    OrdA   100.0
Cust3  Charlie     NaN     NaN
Cust4      NaN    OrdB   150.0

In [42]:
import pandas as pd

df_customers = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie']}, index=['Cust1', 'Cust2', 'Cust3'])
df_orders = pd.DataFrame({'OrderID': ['OrdA', 'OrdB'], 'Amount': [100, 150]}, index=['Cust2', 'Cust4']) # Notice 'Cust4' is in df_orders but not df_customers

In [43]:
joined_df = df_customers.join(df_orders, on ='Name' )

In [44]:
joined_df

          Name OrderID  Amount
Cust1    Alice     NaN     NaN
Cust2      Bob     NaN     NaN
Cust3  Charlie     NaN     NaN

In [45]:
import pandas as pd

df_details = pd.DataFrame({'ID': [1, 2, 3], 'Value': [10, 20, 30]}, index=['A', 'B', 'C'])
df_extra = pd.DataFrame({'Info': ['X', 'Y', 'Z'], 'Value': [100, 200, 300]}, index=['A', 'B', 'C'])
joined_df = df_details.join(df_extra, lsuffix='_left', rsuffix='_right')
print("\nJoin with Suffixes for Overlapping Columns:\n", joined_df)

Join with Suffixes for Overlapping Columns:
    ID  Value_left Info  Value_right
A   1          10    X          100
B   2          20    Y          200
C   3          30    Z          300

Merge on single columns with different names:
    Customer_ID     Name  Cust_ID OrderID  Amount
0            1    Alice        1  ORD001   150.0
1            2      Bob        2  ORD002   200.0
2            3  Charlie        3  ORD003    75.0

**CONCAT**

In [104]:
import pandas as pd

# Create two DataFrames
df1 = pd.DataFrame({'A': ['A0', 'A1'], 'B': ['B0', 'B1']})
df2 = pd.DataFrame({'C': ['A2', 'A1'], 'B': ['B2', 'B3']})

In [105]:
df1

    A   B
0  A0  B0
1  A1  B1

In [106]:
df2

    C   B
0  A2  B2
1  A1  B3

In [107]:
pd.concat([df1,df2], ignore_index=True,axis=0)

     A   B    C
0   A0  B0  NaN
1   A1  B1  NaN
2  NaN  B2   A2
3  NaN  B3   A1

In [108]:
pd.concat([df1, df2], join='inner')
#it will common columns

    B
0  B0
1  B1
0  B2
1  B3

In [116]:
import pandas as pd

# Create DataFrame 1
df1 = pd.DataFrame({
    'Name': ['Alice', 'Bob'],
    'Age': [25, 30]
}, index=['A', 'B']) # 

# Create DataFrame 2
df2 = pd.DataFrame({
    'Name': ['Charlie', 'David'],
    'Age': [30, 40]
}, index=['A', 'C'])

In [117]:
df1

    Name  Age
A  Alice   25
B    Bob   30

In [118]:
df2

      Name  Age
A  Charlie   30
C    David   40

In [120]:
pd.concat([df1,df2] , verify_integrity=False)

      Name  Age
A    Alice   25
B      Bob   30
A  Charlie   30
C    David   40

In [125]:
pd.concat([df1,df2] , verify_integrity=True)

ValueError: Indexes have overlapping values: Index(['A'], dtype='object')