In [81]:
import pandas as pd

# Example: Sales data by region and store
data = {
    'Region': ['East', 'East', 'West', 'West', 'Central', 'Central'],
    'Store': ['Store A', 'Store B', 'Store C', 'Store D', 'Store E', 'Store F'],
    'Sales': [100, 150, 200, 250, 300, 350]}

In [82]:
df= pd.DataFrame(data).set_index(['Region','Store'])

In [83]:
new = pd.MultiIndex.from_frame(df)

In [84]:
new

MultiIndex([(100,),
            (150,),
            (200,),
            (250,),
            (300,),
            (350,)],
           names=['Sales'])

In [85]:
df

                 Sales
Region  Store
East    Store A    100
        Store B    150
West    Store C    200
        Store D    250
Central Store E    300
        Store F    350

In [86]:
df.loc['East']

         Sales
Store
Store A    100
Store B    150

In [87]:
print(df.loc[('East','Store B')])

Sales    150
Name: (East, Store B), dtype: int64

In [88]:
df.xs('West', level='Region')

         Sales
Store
Store C    200
Store D    250

In [89]:
df.swaplevel(0,1)

                 Sales
Store   Region
Store A East       100
Store B East       150
Store C West       200
Store D West       250
Store E Central    300
Store F Central    350

In [90]:
new=df.reorder_levels([1,0])
new

                 Sales
Store   Region
Store A East       100
Store B East       150
Store C West       200
Store D West       250
Store E Central    300
Store F Central    350

In [91]:
df.unstack(level ='Store')

          Sales
Store   Store A Store B Store C Store D Store E Store F
Region
Central     NaN     NaN     NaN     NaN   300.0   350.0
East      100.0   150.0     NaN     NaN     NaN     NaN
West        NaN     NaN   200.0   250.0     NaN     NaN

In [92]:
a=df.stack()

In [93]:
df

                 Sales
Region  Store
East    Store A    100
        Store B    150
West    Store C    200
        Store D    250
Central Store E    300
        Store F    350

In [94]:
df.index.get_level_values('Region')

Index(['East', 'East', 'West', 'West', 'Central', 'Central'], dtype='object', name='Region')

In [95]:
df.index.get_level_values(1)

Index(['Store A', 'Store B', 'Store C', 'Store D', 'Store E', 'Store F'], dtype='object', name='Store')

In [96]:
df

                 Sales
Region  Store
East    Store A    100
        Store B    150
West    Store C    200
        Store D    250
Central Store E    300
        Store F    350

In [97]:
df.reorder_levels(['Store' , 'Region'])

                 Sales
Store   Region
Store A East       100
Store B East       150
Store C West       200
Store D West       250
Store E Central    300
Store F Central    350

In [99]:
df.rename(columns={'Central': "mid"})

                 Sales
Region  Store
East    Store A    100
        Store B    150
West    Store C    200
        Store D    250
Central Store E    300
        Store F    350

In [100]:
import pandas as pd

# Example: Sales data by region and store
data = {
    'Region': ['East', 'East', 'West', 'West', 'Central', 'Central'],
    'Store': ['Store A', 'Store B', 'Store C', 'Store D', 'Store E', 'Store F'],
    'Sales': [100, 150, 200, 250, 300, 350]}
df= pd.DataFrame(data)

In [101]:
df = df.rename(index={0: '#0', 1: '#1'})

In [102]:
df

     Region    Store  Sales
#0     East  Store A    100
#1     East  Store B    150
2      West  Store C    200
3      West  Store D    250
4   Central  Store E    300
5   Central  Store F    350