In [47]:
import pandas as pd
import numpy as np

In [64]:
# ðŸ”¹ Exercise 14:
#  Write a function using apply() to classify transactions as "high", "medium", "low" based on revenue thresholds.

In [87]:
df= pd.DataFrame({"amount" :[100,200,150,300,450] })

In [88]:
df

   amount
0     100
1     200
2     150
3     300

In [97]:
def func(x):
    if 100<x <=200:
     return "low"
    elif 200<x<=300:
     return "mid"
    else:
     return "high"

In [98]:
df["classify"]= df['amount'].apply(func)

In [99]:
print(df)

   amount classify
0     100     high
1     200      low
2     150      low
3     300      mid