In [17]:
import pandas as pd
df= pd.DataFrame({"A" :[2,3,4] , "B":[5,6,7]})
df.dtypes

A    int64
B    int64
dtype: object

In [18]:
index=["harsh", 'Varun',"KENAL"]

In [19]:
df.reindex(index)

        A   B
harsh NaN NaN
Varun NaN NaN
KENAL NaN NaN

In [8]:
a=df.reindex(columns=['A' , 'C'])

In [9]:

a.reindex(index, fill_value=0)

       A    C
harsh  0  0.0
Varun  0  0.0

In [46]:
index = ['Firefox', 'Chrome', 'Safari', 'IE10', 'Konqueror']

df = pd.DataFrame({'http_status': [200, 200, 404, 404, 301],

                  'response_time': [0.04, 0.02, 0.07, 0.08, 1.0]},

                  index=index)

In [47]:
df

           http_status  response_time
Firefox            200           0.04
Chrome             200           0.02
Safari             404           0.07
IE10               404           0.08
Konqueror          301           1.00

In [48]:
df.reindex(index)

           http_status  response_time
Firefox            200           0.04
Chrome             200           0.02
Safari             404           0.07
IE10               404           0.08
Konqueror          301           1.00

In [49]:
a=df.reindex(["http_status" , "b"],axis='columns')
a

           http_status   b
Firefox            200 NaN
Chrome             200 NaN
Safari             404 NaN
IE10               404 NaN
Konqueror          301 NaN

In [50]:
import numpy as np
df = pd.DataFrame({'http_status': [200, np.nan, 404, 404, 301],

                  'response_time': [0.04, np.nan, 0.07, 0.08, 1.0]})

new_index=['h', 'b' , 'c' ,'d' , 'e']
df.reindex(index =new_index , fill_value= "misiing")

  http_status response_time
h     misiing       misiing
b     misiing       misiing
c     misiing       misiing
d     misiing       misiing
e     misiing       misiing